body {
        background-image: url('../../../upload/img/ba-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 1000px;
    margin: 20px auto;
}
