<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>FileManager - Home</title>
	<link rel="icon" href="~/folder-manager-32px.ico" type="image/x-icon" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link href="~/lib/filemanager/css/filemanager.min.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/lib/tinymce/skins/content/default/content.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body x-data="filedata">

	<div class="container">
		<div class="filemanager">

			@* Thanh công cụ *@
			<div class="fm-toolbox">
				<input class="file" fm-file-upload type="file" />
				<button class="btn-success" x-on:click="uploadFile()">👆Tải file lên</button>
				<button class="btn-success" x-on:click="openFolderUpdinPopup()">🗂️+</button>
				<button class="btn-infor" x-on:click="renameSelectedItem()">✍️ Đổi Tên</button>
				<button class="btn-danger" x-on:click="deletedSelectedItem()">🗑️</button>
			</div>

			@* Cây thư mục *@
			<div class="fm-folder-tree">
				<p class="folder-level-0" x-on:click="getAllInDir('', -1)">
					<span>📂Thư mục gốc</span>
				</p>
				<template x-for="(f, idx) in _folderTree">
					<ul>
						<li :class="{...f.cssClass, selected: idx == _folderTreeSelectedIndex}" x-on:click="getAllInDir(f.fullPath, idx)">
							<button class="btn-toggle" x-text="f.isOpen ? '📂' : '📁'" x-on:click.stop="toggleFolder(idx)"></button>
							<span x-text="f.folderName"></span>
						</li>
					</ul>
				</template>
			</div>

			@* Phần chính, hiển thị file và các công cụ *@
			<div class="fm-main-panel">
				<template x-for="(f, idx) in _panelData">
					<div class="panel-item" :class="{selected: _panelItemSelectedIndex == idx}" x-on:click="setSelectedItem(f, idx)">
						<img :src="getIcon(f.isFolder)" />
						<span x-text="f.name"></span>
					</div>
				</template>
			</div>

			@* Thông tin bổ sung *@
			<div class="fm-additional-info">
				<span x-text="_additionalInfo.selectedText"></span>
			</div>

			<div class="fm-folder-updin-popup" :class="{show: _folderUpdinPopup.show}">
				<div class="popup-main">
					<div> 
						<label x-text="_folderUpdinPopup.lable">Tên thư mục</label>
						<input class="form-control" type="text" x-model="_folderUpdinPopup.value" />
					</div>
					<div>
						<button class="btn-success" x-on:click="updinFolder()">Lưu</button>
						<button class="btn-danger" x-on:click="closeFolderUpdinPopup()">Hủy</button>
					</div>
				</div>
			</div>
		</div>

		<div class="tinymce-container" style="margin-top: 20px">
			<textarea id="Content"></textarea>
		</div>
	</div>

	<script defer src="~/lib/alpinejs/cdn.min.js"></script>
	<script src="~/lib/filemanager/js/filemanager.js" asp-append-version="true"></script>
	<script src="~/lib/tinymce/tinymce.min.js"></script>
	
	<script>
		tinymce.init({
			selector: '#Content',
			height: 500,
			plugins: [
				'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
				'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
				'insertdatetime', 'media', 'table', 'help', 'wordcount'
			],

			file_picker_callback: (callback, value, meta) => {
				// Provide image and alt text for the image dialog
				if (meta.filetype == 'image') {
					callback('myimage.jpg', { alt: 'My alt text' });
				}
			},

			toolbar: 'undo redo | blocks | ' +
				'bold italic backcolor | alignleft aligncenter ' +
				'alignright alignjustify | bullist numlist outdent indent | ' +
				'removeformat | help',
			content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
		});

	</script>
</body>
</html>
